
body {
  background-image: url('Our_Bangladesh.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;

  font-family: 'Arial', Arial, monospace;
  margin: 0;
  padding: 0;
    }
  

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: ghostwhite;
    font-family: 'Arial', Arial, monospace;
}
h2{
    text-decoration: none;
    text-align: center;
    font-family: 'Arial', Arial, monospace;
    color: rgb(0, 0, 0);
}
h3{
    text-align: center;
    color: ghostwhite;
    font-family: 'Arial', Arial, monospace;
}

header{
color: ghostwhite;
font-size: medium;
font-weight:normal;
}

nav{
    text-align: center;
  margin: 20px 0;
}
nav a{
    text-decoration: none;
    color: ghostwhite;
    margin: 3ch;
}
nav a:hover{
text-decoration: underline;
}

.footer{
    color: ghostwhite;
    padding: 10px;
    position:relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background: green;
}
p{
    text-align: right;
    text-size-adjust: auto;
    mardin: 0 20px;
}

.food{
    background-color: black;
    background-size: cover ;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
h4{
    text-align: center;
    font-size: 20px;
    }

    .content{
        background: rgba(255, 255, 255, 0.891);
        padding: 20px;
        border-radius: 20px;
        margin: 20px auto;
       width: 80%;
    }
    table, th,td{
        border: 1px solid;
        border-collapse: collapse;
         padding: 10px;
      text-align: center;
    }
    table{
        width: 80%;
       margin-left: auto ;
       margin-right: auto;
    }
@media only screen and (max-width: 768px) {
 body{
   background-size: contain;
 }
  h1{
    font-size: 36px;
  }
  h2,h3{
    font-size: 18px;
  }
  .center{
    width: 80%;
  }
  nav a {
    display: block;
    margin: 10px 0;
  }
  .content {
    width: 95%;
    margin: 10px auto;
  }
  table{
    width: 100%;
    margin: 10px 0;
  }
p{
  text-align: left;
}
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
 h1{
   font-size: 40px;
 }
  h2,h3{
    font-size: 22px;
  }
  .center{
    width: 50%;
  }
  .content{
    width: 90%;
  }
  nav a {
    margin: 2ch;
  }
  table{
    width: 90%;
  } 
}
